<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MichaelPrepaTest{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap core CSS -->
            <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
            <!-- Custom styles for this template -->
            <link href="http://getbootstrap.com/docs/4.0/examples/jumbotron/jumbotron.css" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <!-- entête -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Barre de navigation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path("homepage") }}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                {# SI on est connectés (n'importe quel rôle)#}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("fos_user_profile_show") }}">Espace Perso</a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("fos_user_security_logout") }}">Déconnexion</a>
                    </li>
                 {# on est pas connecté #}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("fos_user_security_login") }}">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("fos_user_registration_register") }}">Enregistrement</a>
                        </li>
                {% endif %}
            </ul>
        </div>
        </li>
        </ul>

        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
        {% block body %}{% endblock %}
        </div></div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
