{% extends 'base.html.twig' %}

{% block body %}
    {% for b in blablas %}
<h3>{{ b.titre }}</h3>
<p>{{ b.texte }}</p>
<p>{{ b.ladate|date("Y-m-d d/m/Y") }} par {{ b.fosUser.username }}</p>
{% for img in b.image %}
    <img src="{{ img.url }}" />
    {% endfor %}

{% endfor %}
   ici notre accueil
{% endblock %}
